export(batch_gdal_translate)
export(gdal_chooseInstallation)
export(gdal_cmd_builder)
export(gdal_rasterize)
export(gdal_setInstallation)
export(gdal_translate)
export(gdaladdo)
export(gdalbuildvrt)
export(gdaldem)
export(gdalinfo)
export(gdalsrsinfo)
export(gdalwarp)
export(get_subdatasets)
export(mosaic_rasters)
export(ogr2ogr)
export(ogrinfo)
export(qm)
export(remove_file_extension)
import(foreach)
import(sp)
importFrom(R.utils,listDirectory)
